:host {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10002;
}

:host > .outer {
    width: 100%;
    height: 100%;
    background: #0006;
    position: absolute;
    top: 0;
    left: 0;
}

:host > .inner {
    border-radius: 20px;
    position: fixed;
    top: calc(50% - (max(env(safe-area-inset-bottom), 20px) - max(env(safe-area-inset-top), 20px)) / 2);
    left: calc(50% - (max(env(safe-area-inset-right), 20px) - max(env(safe-area-inset-left), 20px)) / 2);
    border: 5px solid #fff;
    background: #fffffff2;
    box-sizing: border-box;
    box-shadow: 0 2px 10px -5px #000, 0 0 0 calc(max(100vh, 100vw)) #0008;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

:host > .inner > .choice {
    padding: 10px;
    cursor: pointer;
}

:host > .inner > .choice.disabled {
    pointer-events: none;
}

:host > .inner > .choice:hover {
    background: #ddd;
}

:host > .inner > .choice > * {
    vertical-align: middle;
    cursor: pointer;
}

:host > .inner input[type="radio"] {
    width: 18px;
    height: 18px;
    margin: 0 10px 0 0;
    background: #0001;
    border: 1px solid #0002;
    appearance: none;
    border-radius: 10px;
    box-sizing: content-box;
    position: relative;
}

:host > .inner input[type="radio"]::after {
    display: block;
    position: absolute;
}

:host > .inner input[type="radio"]:checked::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #0008;
    border-radius: 5px;
    top: 4px;
    left: 4px;
}

:host > .inner input[type="radio"]:disabled {
    background: #0000;
}

:host > .inner input[type="radio"]:disabled::after {
    content: "";
    width: 14px;
    height: 4px;
    background: #0002;
    top: 7px;
    left: 2px;
}

:host > .inner > .choice > label {
    display: inline-block;
    width: calc(100% - 30px);
}

:host > .inner > .choice > label > * {
    display: inline-block;
    width: 100%;
}

:host > .inner > .choice > label > .title {
    font-weight: 700;
}

:host > .inner > .choice > label > .description {
    font-size: 14px;
}

:host > .inner input[type="radio"]:disabled + label {
    color: #0003;
}

:host > .inner > span, :host > .inner > .button {
    text-align: center;
    line-height: 20px;
    padding: 15px 10px;
}

:host > .inner > span.progress {
    display: inline-block;
    padding: 10px 34px 10px 10px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

:host > .inner > span.progress:not(:last-child) {
    border-bottom: 1px solid #0001;
}

:host > .inner > span.progress > span.progress-indicator {
    width: 12px;
    height: 12px;
    display: inline-block;
    border: 3px solid #0000;
    padding: 0;
    border-radius: 10px;
    position: relative;
    position: absolute;
    right: 8px;
    top: calc(50% - 8px);
}

:host > .inner > span.progress:not(.ok):not(.error) > span.progress-indicator {
    animation: spin 1s linear infinite;
    border-color: #0003;
    border-left-color: #0008;
}

:host > .inner > span.progress > span.progress-indicator::before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background: #0008;
    top: 3px;
    left: 3px;
    border-radius: 5px;
    transition: all .2s ease;
    transform: rotate(45deg);
}

:host > .inner > span.progress.ok > span.progress-indicator::before, :host > .inner > span.progress.error > span.progress-indicator::before {
    background: #070;
    width: 10px;
    height: 10px;
    top: 1px;
    left: 1px;
}

:host > .inner > span.progress.error > span.progress-indicator::before {
    background: #c00;
    border-radius: 2px;
}

:host > .inner > .button {
    cursor: pointer;
}

:host > .inner > .map-items {
    width: calc(100% + 50px);
    position: relative;
    left: -5px;
    top: -5px;
    margin-bottom: -10px;
    max-height: 350px;
    scrollbar-gutter: stable;
    overflow: auto;
}

:host > .inner > .map-items > .map-item {
    background: #fff;
    width: 80px;
    height: 80px;
    position: relative;
    border: 5px solid #eee;
    display: inline-block;
    margin: 5px;
    border-radius: 15px;
    vertical-align: bottom;
    cursor: pointer;
}

:host > .inner > .map-items > .map-item > img {
    max-width: 100%;
    max-height: calc(100% - 15px);
    top: 0;
    bottom: 15px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

:host > .inner > .map-items > .map-item > div {
    bottom: 0;
    position: absolute;
    width: calc(100% - 10px);
    text-align: center;
    font-size: 0.9rem;
    line-height: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    left: 5px;
}

code {
    font-family: 'Roboto Mono';
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
